fastapi==0.115.12
uvicorn[standard]==0.34.0
pydantic-settings==2.8.1
python-dotenv==1.0.1
httpx==0.28.1
sgp4==2.23
redis>=5.0.3
SQLAlchemy>=2.0.29
psycopg2-binary
alembic
numpy
scikit-learn
langchain
langchain-openai
langchain-google-genai
faiss-cpu
openai

